<html>
<head>         
<title>Todo list</title>       <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>        <style>            
body {
         background-color: #D8D8D8;
     }  
          
h2 
    { 
        color: rgb(0, 0, 0);
    }            
button 
    {               
       background-color: rgb(101, 95, 190);               
        inline-size: 100px;            
    }        
</style>    
</head>    
<body>        
    <div class="container">  
        
    <h2> A Simple to do list app </h2>     <form method="POST"> 
               
    <input type="text" name="newtask" palseholder="add new task  !!!"><br><br>     <button> Add Task</button>      
           
   <h2>Add Your Task Here!!!!</h2> 
                                                    
   <input type="checkbox" name="check" value=""/>                                   
          
</form>        
</div>   
</body>
</html>
