* {
	box-sizing: border-box;
}

body{
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 16pt;
	padding: 0;
	margin: 0;
	height:100vh;
}

div{
	display: flex;
}

form{
	display: flex;
	flex-direction: column;
}
.naglowek{
	justify-content: center;
	margin: 2em;
}

input{
	justify-content: center;
	width: 75%;
	margin: 1em;
	padding: 0.5em;
}
button{
	width: 25%;
	padding: 0.5em;
}
.srodek{
	flex-direction: row;
}
.container{
	flex-direction: row;
	width:100%;
}

.lewy{
	flex-direction: column;
	justify-content: center;
	width: 50%;
	background-color: red;
}

.prawy{
	flex-direction: column;
	justify-content: center;
	width:50%;
	background-color:blue;
}
