* {box-sizing:border-box}
:root{
    --darker: #49c199;
    --lighter: #d3ff0;
    --fontcolor: #000;
    --accent: #49c199;
}

[data-theme="dark"]{
    --darker: #096345;
    --lighter: #4b6059;
    --fontcolor: #fff;
    --accent: #49c199;
}
body{
	background-color: var(--lighter);
	color: var(--fontcolor);
}

.col-sm{
	margin: 10px;
}

.btn-primary{
        color: #FFFFFF;
	background-color: var(--accent);
	border-color: var(--accent);
}
h2 {
	text-align: left;
	text-decoration: underline;
	text-decoration-color: var(--accent);
}

.navbar{
	background-color: var(--accent);
	color: white;
}
